<div class="show-flash"><%= flash[:notice] %></div>

<div class="show-box">
  <div class="show-title-box">
    <p class="show-title">Title:</p>
    <p class="show-title-comment"><%= @book.title %></p>
  </div>

  <div class="show-body-box">
    <p class="show-body">Body:</p>
    <p class="show-body-comment"><%= @book.body %></p>
  </div>

    <%= link_to "Edit", edit_book_path(@book.id), class:"show-link-edit" %>
    <p class="show-link-border">|</p>
    <%= link_to "Back", books_path, class:"show-link-back" %>
</div>